<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="FilesDBConnectionString" connectionString="Data Source=.;Initial Catalog=FilesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="studentConnectionString" connectionString="Data Source=.;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyConnectionString" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"
            providerName="=System.Data.SqlClient" />
        <add name="masterConnectionString" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="Movies" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" maxRequestLength="10240" requestLengthDiskThreshold="100"/>
      <pages>
        <controls>
          <add namespace="MyValidators" tagPrefix="custom" />
        </controls>
      </pages>
      
    </system.web>
  
    <appSettings>
       <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
    

</configuration>
